name: CI

on: [push, pull_request]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
              with: 
                fetch-depth: 0
            - uses: actions/setup-node@v4
              with: 
                node-version: '18'
                cache: 'npm'
            - run: npm ci
            - run: make lint
            - run: make coverage
            - name: SonarQube Scan
              uses: SonarSource/sonarqube-scan-action@v7
              env:
                SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}